body{
    /* background:radial-gradient(circle,rgb(238, 201, 238),#dac0a7); */
    /* background-image:url("oo1.png") ; */
}
#img1{
    display: grid;
    grid-template-columns:repeat(2, 50px);
grid-template-rows:repeat(1, 1fr);
gap:15px 700px;
justify-content:center; 
align-items: center;
float: left;
padding-top:20px;
}
#welcome{
    font-size:20px;
    font-family:"Calibri";
    align-items: center;
    padding-left:600px;
    color: black;
    /* padding-top:10px ;
    padding-bottom:0px; */
    margin-bottom:auto ;
} 
.naveList{ 
    align-items: center;
    margin:10px;
    margin-top:10px ;
}
ul li{
    display:inline-block;
    align-items: center;
    padding:5px;
    list-style:none ;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
}
#sh_m{
    /* float:left; */
    padding-right:50px;
    font-family:"Calibri";
    font-size: 20px;
    padding-top:500px;
    align-items: center;
padding-left:50px;
border: solid 3px black;
}
#sh_f{
    padding-right:100px;
    float:right;
    padding-left:100px;
    align-items: center;
    font-size: 20px;
    font-family:"Calibri" ;
    border: solid 3px black;

}