/* body{
background:radial-gradient(circle,rgb(238, 201, 238),#dac0a7);
background-image:url("oo1.png") ;
} */
#img1{
justify-content:center; 
align-items: center;
float: left;
margin-right:300px ;
}
#img2{
justify-content:center; 
align-items: center;
float:right;
margin-left:800px;
top:0px;
}
/* #all{
display: grid;
grid-template-columns:repeat(2, 50px);
grid-template-rows:repeat(1, 1fr);
gap:10px 700px;   
} */
#welcome{
padding-top: 0px;
font-size:40px;
font-family:"Calibri";
align-items: center;
padding-left:400px;
color: black;
/* padding-top:10px ;
padding-bottom:0px; */
} 
.naveList{ 
align-items:center;
margin:10px;
margin-top:10px;
color:black;
margin-left:50px;
/* display: inline-block; */
}
ul li{
display:inline-block;
align-items: center;
padding:5px;
list-style:none ;
font-size: 20px;
}
ul li a{
text-decoration: none;
}
#sh_m{
float:left;
color: rgb(88, 64, 194);
padding-right:50px;
font-family:"Calibri";
font-size:20px;
padding-left:50px;
display:inline;
border: solid 3px rgb(88, 64, 194);
text-align: center;
justify-content: center;
text-decoration: none;
margin-right:300px;
margin-left:0px; 
border-radius: 5px;
} 
#sh_f{
display:inline;
text-decoration:none;
color: rgb(204, 92, 92);
padding-right:50px;
float:right;
justify-content: center;
padding-left:50px;
margin-right:300px;
margin-left:8px;
font-size:20px;
font-family:"Calibri" ;
border: solid 3px rgb(204, 92, 92);
border-radius: 5px;
}
span{
color: rgb(93, 119, 252);
}
#search{
margin-left: 200px;
/* position:fixed; */
display: flex;
width:100px;
height:30px;
align-items: center;
margin-top:10px;
margin-bottom: 0px;
/* display: inline; */
float:left;
margin-left:70px;
}
#home{
align-items: center;
position: relative;
margin-left:80px;
}
.box{
display: grid;
grid-template-columns:repeat(3,300px);
grid-template-rows:repeat(2,500px);
gap:50px 50px;
justify-content:center; 
align-items: center;
}
#wathc_f{
    margin-left: 500px;
    font-family:"Calibri";
    font-size: 20px;
}
.h_wathc_f{
    color:#ff6b6b
}
.buy{
position: absolute;
width:110px ;
height:30px;
justify-content: center;
font-family:"Calibri";
bottom:10px;
/* margin-right:80px; */
border: solid rgb(129, 94, 255);
text-decoration:none;
color: rgb(129, 94, 255);
padding-left:60px;
padding-right:70px;
display: flex;
align-items: center;
margin-left:2px;
margin-right:10px;
border-radius:10px;
}
.img1{
margin-left:40px;
/* margin-right:10px; */
}
.p1{
text-align: center;
top:500px
}
.p-box{
width:250px;
height:400px;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 4px;
position: relative;
margin: 10px 30px;
box-shadow:2px 2px 30px rgba(0,0,0,0,0.1) ;
background-color: #FFFFFF;
border-radius:5px ;
}
.p-box .p1{
    color: #4d4d4d70;
    font-size:15px;  
    float: right;
    padding-right:10px;
}
.price{
    color:rgb(204, 53, 53);
    font-family:"Calibri";
    font-size:16px;
    float: right;
    margin-top:30px;
    margin-right:10px;
    text-decoration: none;

}
.p-box .x1{
float: right;
color:black;
margin-right:10px;
font-family:"Calibri" ;
}
#se{
    display: flex;
    justify-content:left;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}