body{
    background:radial-gradient(circle,rgb(238, 201, 238),#dac0a7);
}

.naveList{ 
    align-items: center;
    margin:10px;
    margin-top:10px ;
}
ul li{
    display:inline-block;
    align-items: center;
    padding:5px;
    list-style:none ;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
}
/* .pr{
    width:30px;
    height:30px;
} */